.container {
    position:absolute;
    left: 75%;
    transform: translate(-50%,-50%);
    /* margin-top: 25px; */
    height: 40px;
    border-color: red;
}

input {
    position:absolute;
    top: 0;
    right: 5px;
    top: 6px;
    outline: none;
    box-sizing: border-box;
    height: 30px;   
    width: 0;
    padding: 0 10px;
    color: #0071BC;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid #00FF00;
    transition: all .7s ease;
}

::placeholder {
    color: grey;
}

.btn {
    position:absolute;
    top: 0;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background: #009EFF;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .6s;
    color: white;
}


.btn i {
    font-size: 25px;
    color: white;
    line-height: 80px;
    transition: all .7s ease;
}

.container:hover input {
    width: 350px;
    box-shadow: 0 0 5px #00FF00;
}

.container:hover i {
    transform: rotate(-360deg);
}

.btn:hover {
    background-color: #00FF00;
    color: #0071BC;
}

